.result {
  display: none;
  width: 80%;
  background-color: whitesmoke;
  border-radius: 20px;
  text-align: center;
}

.resultName {
  font-size: 24px;
}

.resultDesc {
  font-size: 20px;
  line-height: 1.4;
}